
.container{
    
    display: flex;
    /* flex-direction: column; */
    margin-top: 2rem;
    /* margin-left: 10rem; */
    /* width: 100rem; */
}
.places{
    height:40rem;
    width: 50rem;
}
@media only screen and (max-width: 1800px){
  .container{
    display: flex;
    flex-direction: column;
    margin-left: 0%;
  }
}