h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 800;
}
.container{
    
    display: flex;
    margin-top: 2rem;
    /* margin-left: 10rem; */
    /* width: 100rem; */
}
.places{
    height:40rem;
    width: 50rem;
}