
  
    <div class="modernForm">
      <div class="imageSection">
        <div class="image">
          <div class="overlay"></div>
          <img src="https://images.pexels.com/photos/1129413/pexels-photo-1129413.jpeg?auto=compress&cs=tinysrgb&w=600" alt="pexels-yuri-manei-2272854">
        </div>
        <div class="textInside">
          <h1>Buy Beautiful Furniture For</h1>
          <p class="tagLine">Your Sweet Home</p>
        </div>
        <div class="service">
          <p><span class="price">Start From :</span>5000₹</p>
        </div>
      </div>
      <div class="contactForm">
        <h1>Registaration Form</h1>
        <form>
          <div class="name">
            <label for="fullName">Full Name:</label>
            <input type="text" name="fullName" id="fullName" placeholder="ex: Nikita Tiwari" required/>
            <div class="iconName"><i class="fa-solid fa-user"></i></div>
          </div>
          <div class="name">
            <label for="email">Your Email:</label>
            <input type="email" name="email" id="email" required />
            <div class="iconName"><i class="bi-solid bi-envelope"></i></div>
          </div>
          <div class="name">
            <label for="Password">Password:</label>
            <input type="password" name="password" id="password" required />
            <div class="iconName"><i class="bi-solid bi-lock"></i></div>
          </div>
          <div class="name">
            <label for="Password">Confirm Password:</label>
            <input type="password" name="password" id="password" required />
            <div class="iconName"><i class="bi-solid bi-lock"></i></div>
          </div>
          <div class="checkbox">
            <input type="checkbox" id="checkbox" name="checkbox" required>
            <label for="checkbox">By signing up, you agree to the
             <p><a href="#">Play Term of Service</a></p></label>
          </div>
          <input type="submit"  value="Register">
        </form>
      </div>
    </div>
  
